<div id="StandingsRegularSeason">
  <header id="page-title">
    <div class="container">
      <h1>Regular Season Standings</h1>

      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/Ng/#/Standings/RegularSeason">Standings</a></li>
        <li class="active">Regular Season</li>
      </ul>
    </div>
  </header>

  <div class="row">
    <header class="page-title">
      <h4 class="col-md-10">2014 - 2015 Regular Season - League Standings</h4>
      <h6 class="col-md-2 text-right">Thru Oct. 16</h6>
    </header>
  </div>

  <table class="table table-condensed table-bordered table-striped table-dk-blue">
    <thead>
      <tr>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'rank'}" ng-click="sortAscOnly('rank')">Rank</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'seasonTeam.team.teamLongName'}" ng-click="sortAscOnly('seasonTeam.team.teamLongName')">Team</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'games'}" ng-click="sortDescOnly('games')">GP</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'wins'}" ng-click="sortDescOnly('wins')">W</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'losses'}" ng-click="sortAscOnly('losses')">L</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'ties'}" ng-click="sortDescOnly('ties')">T</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'points'}" ng-click="sortDescOnly('points')">PTS</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'goalsFor'}" ng-click="sortDescOnly('goalsFor')">GF</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'goalsAgainst'}" ng-click="sortAscOnly('goalsAgainst')">GA</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'penaltyMinutes'}" ng-click="sortDescOnly('penaltyMinutes')">PIM</td>
        <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'regSeaonWinPercent'}">W%</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in standings | orderBy:sortOn:sortDirection">
        <td ng-class="{'td-sorted-by':sortOn === 'rank' }">{{item.rank}}</tdclass>
        <td ng-class="{'td-sorted-by':sortOn === 'seasonTeam.team.teamLongName' }">{{item.seasonTeam.team.teamLongName}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'games' }">{{item.games}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'wins' }">{{item.wins}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'losses' }">{{item.losses}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'ties' }">{{item.ties}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'points' }">{{item.points}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'goalsFor' }">{{item.goalsFor}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'goalsAgainst' }">{{item.goalsAgainst}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'penaltyMinutes' }">{{item.penaltyMinutes}}</td>
        <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'regSeaonWinPercent' }">{{item.regSeasonWinPercent | percentage:0}}</td>
      </tr>
    </tbody>
  </table>
  <h6>
    Tie Breaker:&nbsp;&nbsp;1.) Most Points&nbsp;&nbsp;2.) Most Wins&nbsp;&nbsp;3.)Greatest Goals For/Goals Against difference&nbsp;&nbsp;4.) Most Goals For&nbsp;&nbsp;5.) Least Penalty Minutes
  </h6>
</div>