<div>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <td>Sub</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in gameRoster">
          <td>{{item.sub}}</td>
          <td>{{item.position}}</td>
          <td>{{item.line}}</td>
          <td>{{item.playerId}}</td>
          <td>{{item.playerNumber}}</td>
          <td>{{item.playerNumber}}</td>
          <td>{{item.line}}</td>
          <td>{{item.ratingPrimary}}</td>
          <td>{{item.ratingSecondary}}</td>
          <td>{{item.subbingForPlayerId}}</td>
        </tr>
      </tbody>
    </table>
</div>
