.navbar-default {
background-color: #1980B6;
border-color: #1980B6;
}

.navbar-default .navbar-brand {
color: aliceblue;
}

.navbar-default .navbar-nav>li>a {
color: aliceblue;
}

.navbar-default .navbar-toggle {
border-color: #1980B6;
color: #1980B6;
}

.table-dk-blue > thead > tr > td {
color: #fff;
background-color: #1980B6;
}

.table-dk-blue>tbody>tr>td {
}

.table-dk-blue > tbody > tr:hover > td,
.table-dk-blue > tbody > tr:hover > th {
  background-color: lightblue;
  font-weight: 700;
}