<div>

  <fieldset>
    <legend>Inputs</legend>

    <div>
      <label>Season Id</label>
    </div>
    <div>
      <input ng-model="dataModel.seasonId">
    </div>

    <div>
      <label>Playoffs?</label>
    </div>
    <div>
      <input ng-model="dataModel.playoff">
    </div>

    <div>
      <label>Starting GameId</label>
    </div>
    <div>
      <input ng-model="dataModel.startingGameId">
    </div>

    <div>
      <label>Ending GameId</label>
    </div>
    <div>
      <input ng-model="dataModel.endingGameId">
    </div>

    <div>
      <input type="submit" name="AccessDbToJson" ng-click="processScoreSheetEntries()">
    </div>
    <div>
      <input type="submit" name="ProcessAll" value="1 - Process All">
    </div>


    <div>
      <input type="submit" name="AccessDbToJson" value="0 - AccessDb To Json">

    </div>
    <div>
      <input type="submit" name="ProcessAll" value="1 - Process All">
    </div>
    <div>
      <button class="button" ng-click="processScoreSheetEntries()">1a - Process ScoreSheetEntries</button>
      <label>{{processCount.processScoreSheetEntries}}</label>
    </div>
    <div>
      <input type="submit" name="ProcessScoreSheetEntriesIntoGameResults" value="1b - Process ScoreSheetEntries Into GameResults">
      <label>{{processCount.processScoreSheetEntriesIntoGameResults}}</label>
    </div>
    <div>
      <input type="submit" name="ProcessGameResultsIntoTeamStandings" value="1c - Process GameResults Into TeamStandings">
      <label>{{processCount.processGameResultsIntoTeamStandings}}</label>
    </div>
    <div>
      <input type="submit" name="ProcessScoreSheetEntriesIntoPlayerStats" value="1d - Process ScoreSheetEntries Into PlayerStats">
      <label>{{processCount.processScoreSheetEntriesIntoPlayerStats}}</label>
    </div>
    <div>
      <input type="submit" name="ProcessPlayerStatsIntoWebStats" value="1e - Process PlayerStats Into WebStats">
      <label>{{processCount.processPlayerStatsIntoWebStats}}</label>
    </div>
    <div>
      <input type="submit" name="ContextToJson" value="2 - Context To Json">
    </div>

  </fieldset>
</div>
