@{
  ViewBag.Title = "LO30 | ScoreSheet | Entry";
  ViewBag.InitModule = "ngScoreSheetModule";
}

@section Scripts {
  @Scripts.Render("~/App_Scripts/ScoreSheetAngular.js")
}

<div id="wrapper">
  <hgroup class="title">
    <h1>@ViewBag.Title</h1>
  </hgroup>

  <div ng-view=""></div>
</div>
