<!-- Top Nav -->
<div class="navbar-collapse nav-main-collapse collapse pull-right">
  <nav class="nav-main mega-menu">
    <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Login", "Login", "Account")</li>

    </ul>
  </nav>
</div>
<!-- /Top Nav -->