<div>
  <h4>2014 - 2015 Regular Season - Goalie Statistics</h4>
  <h6>Thru Oct. 16</h6>

  <table>
    <tr>
      <td align="center" colspan="3">
        <div class="col-xs-12">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </div>
            <input class="form-control" id="search-text" name="searchText" ng-model="searchText" type="text" focus="" required="" ng-keyup="$event.keyCode == 13 ? navigateToOfferDetailsExecution(searchText) : null" placeholder="SEARCH ANY FIELD">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-remove" ng-click="removeSearch()"></span>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td align="center" colspan="3">
        <div class="col-xs-12">
          <div class="btn-group btn-group-xs btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-primary disabled">Teams:</button>
            </div>
            <div data-ng-repeat="team in teams" class="btn-group">
              <button type="button" class="btn" ng-click="filterByTeam(team)"
                      ng-class="{'btn-default':team !== selectedTeam, 'btn-primary':team === selectedTeam}">
                {{team}}
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td align="center">
        <div class="col-xs-12">
          <div class="btn-group btn-group-xs btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-danger disabled">Pos:</button>
            </div>
            <div data-ng-repeat="position in positions" class="btn-group">
              <button type="button" class="btn disabled" ng-click="filterByPosition(position)"
                      ng-class="{'btn-default':position !== selectedPosition, 'btn-danger':position === selectedPosition}">
                {{position}}
              </button>
            </div>
          </div>
        </div>
      </td>
      <td align="center">
        <div class="col-xs-12">
          <div class="btn-group btn-group-xs btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-warning disabled">Line:</button>
            </div>
            <div data-ng-repeat="line in lines" class="btn-group">
              <button type="button" class="btn disabled" ng-click="filterByLine(line)"
                      ng-class="{'btn-default':line !== selectedLine, 'btn-warning':line === selectedLine}">
                {{line}}
              </button>
            </div>
          </div>
        </div>
      </td>
      <td align="center">
        <div class="col-xs-12">
          <div class="btn-group btn-group-xs btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-success disabled">Subs:</button>
            </div>
            <div data-ng-repeat="sub in subs" class="btn-group">
              <button type="button" class="btn" ng-click="filterBySub(sub)"
                      ng-class="{'btn-default':sub !== selectedSub, 'btn-success':sub === selectedSub}">
                {{sub}}
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>


  <table class="table table-condensed table-bordered table-striped table-dk-blue">
    <thead>
      <tr>
        <td>Rank</td>
        <td ng-click="sortAscFirst('team')">
          <span class="pointer">Team</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'team',
                      'glyphicon-sort-by-alphabet':sortOn === 'team' && !sortDirection,
                      'glyphicon-sort-by-alphabet-alt':sortOn === 'team' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortAscFirst('player')">
          <span class="pointer">Player</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'player',
                      'glyphicon-sort-by-alphabet':sortOn === 'player' && !sortDirection,
                      'glyphicon-sort-by-alphabet-alt':sortOn === 'player' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortDescFirst('gp')">
          <span class="pointer">GP</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'gp',
                      'glyphicon-sort-by-order':sortOn === 'gp' && !sortDirection,
                      'glyphicon-sort-by-order-alt':sortOn === 'gp' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortDescFirst('ga')">
          <span class="pointer">GA</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'ga',
                      'glyphicon-sort-by-order':sortOn === 'ga' && !sortDirection,
                      'glyphicon-sort-by-order-alt':sortOn === 'ga' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortDescFirst('gaa')">
          <span class="pointer">GAA</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'gaa',
                      'glyphicon-sort-by-order':sortOn === 'gaa' && !sortDirection,
                      'glyphicon-sort-by-order-alt':sortOn === 'gaa' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortDescFirst('so')">
          <span class="pointer">SO</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'so',
                      'glyphicon-sort-by-order':sortOn === 'so' && !sortDirection,
                      'glyphicon-sort-by-order-alt':sortOn === 'so' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortDescFirst('w')">
          <span class="pointer">Wins</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'w',
                      'glyphicon-sort-by-order':sortOn === 'w' && !sortDirection,
                      'glyphicon-sort-by-order-alt':sortOn === 'w' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortDescFirst('winPercent')">
          <span class="pointer">Win%</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'winPercent',
                      'glyphicon-sort-by-order':sortOn === 'winPercent' && !sortDirection,
                      'glyphicon-sort-by-order-alt':sortOn === 'winPercent' && sortDirection
                    }">
            </span>
          </span>
        </td>
        <td ng-click="sortAscFirst('sub')">
          <span class="pointer">Sub</span>
          <span class="pull-right">
            <span class="glyphicon" style="color:white"
                  ng-class="{
                      'glyphicon-sort':sortOn !== 'sub',
                      'glyphicon-sort-by-alphabet':sortOn === 'sub' && !sortDirection,
                      'glyphicon-sort-by-alphabet-alt':sortOn === 'sub' && sortDirection
                    }">
            </span>
          </span>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in goalieStats | filterize:searchText | orderBy:sortOn:sortDirection">
        <td>{{$index+1}}</td>
        <td ng-class="{'td-info':sortOn === 'team' }">{{item.team}}</td>
        <td ng-class="{'td-info':sortOn === 'player' }">{{item.player}}</td>
        <td ng-class="{'td-info':sortOn === 'gp' }">{{item.gp}}</td>
        <td ng-class="{'td-info':sortOn === 'g' }">{{item.ga}}</td>
        <td ng-class="{'td-info':sortOn === 'gaa' }">{{item.gaa | number:2}}</td>
        <td ng-class="{'td-info':sortOn === 'so' }">{{item.so}}</td>
        <td ng-class="{'td-info':sortOn === 'w' }">{{item.w}}</td>
        <td ng-class="{'td-info':sortOn === 'winPercent' }">{{item.winPercent | percentage:0}}</td>
        <td ng-class="{'td-info':sortOn === 'sub'}">{{item.sub}}</td>
      </tr>
    </tbody>
  </table>

</div>